@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply antialiased scroll-smooth border-border selection:bg-zinc-950 selection:text-zinc-50 dark:selection:bg-zinc-50 dark:selection:text-zinc-950 font-sans;

    ::-webkit-scrollbar {
      background-color: transparent;
      width: 0;
      height: 0;
    }

    ;
  }

  body {
    @apply bg-zinc-50 text-zinc-950 dark:bg-black dark:text-[#eeeeee];
  }

  .dark-light {
    @apply bg-zinc-50 dark:bg-zinc-950;
  }

  .dark-light-secondary {
    @apply bg-zinc-200 dark:bg-black;
  }

  .glassmorphism {
    @apply bg-zinc-200 backdrop-blur-[33px] bg-opacity-50 bg-clip-padding shadow-lg dark:bg-black dark:backdrop-blur-[33px] dark:bg-opacity-50 border border-border;
  }

  .navbar {
    @apply absolute flex flex-row items-center justify-center px-4 py-2 w-full top-0 z-30 glassmorphism;
  }

  .bottombar {
    @apply fixed bottom-0 w-full pb-5 bg-none;
  }

  .button {
    @apply glassmorphism py-2 px-4 rounded-full hover:blur-[1px] dark:hover:blur-[1px] border border-zinc-200 dark:border-zinc-800 transition-all ease-linear;
  }

  .heading {
    @apply lg:text-5xl md:text-4xl text-2xl font-medium text-zinc-900 dark:text-zinc-100;
  }

  .container_admin {
    @apply flex min-h-screen flex-1 flex-col items-center px-6 pb-10 pt-28 max-md:pb-32 sm:px-10 text-zinc-950 dark:text-[#eeeeee];
  }

  .topbar_admin {
    @apply absolute flex flex-row items-center justify-center px-4 py-2 w-full top-0 z-30 glassmorphism;
  }

  .bottombar_admin {
    @apply fixed bottom-0 z-10 w-full glassmorphism p-4 sm:px-7 md:hidden;
  }

  .bottombar_container_admin {
    @apply flex items-center justify-between gap-3;
  }

  .bottombarlink_admin {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .sidebar_admin {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r glassmorphism pb-5 pt-28 max-md:hidden;
  }

  .sidebarlink_admin {
    @apply relative flex items-center justify-start gap-4 rounded-lg p-4;
  }

  .heading_admin {
    @apply lg:text-3xl md:text-2xl text-xl font-semibold text-zinc-900 dark:text-zinc-100;
  }
}